services:
  app:
    environment:
      - APP_ENV
      - DB_HOST=database
      - DB_USER
      - DB_PASSWORD
      - DB_NAME
      - TOKEN
      - CLIENT_ID
      - TZ=Europe/Paris
    container_name: meteion
    image: thibaultyvd/meteion:production
    restart: unless-stopped
    ports:
      - '2022:3000'
    depends_on:
      - database

  database:
    image: mysql:8.0
    container_name: meteion_db
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=meteion_db
      - TZ=Europe/Paris
    restart: always
    ports:
      - '33060:3306'
    volumes:
      - db_data_production:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data_production:
