services:
  app:
    environment:
      - APP_ENV
      - DB_HOST=database
      - DB_USER
      - DB_PASSWORD
      - DB_NAME
      - TOKEN
      - CLIENT_ID
    container_name: meteion_staging
    image: thibaultyvd/meteion:staging
    restart: always
    ports:
      - '20221:3000'
    depends_on:
      - database

  database:
    image: mysql:8.0
    container_name: meteion_db_staging
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: meteion_db_staging
    restart: always
    ports:
      - '33061:3306'
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
